body{
    color:rgb(232, 231, 231);
    display:grid;
    justify-items: center;
}

#gameCanvas{
}
.menuButton{
    color: #f0f0f0;
    background-color: #4d6590;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    margin: 5px;
    width:min-content;
    cursor: pointer;
    display: inline-flex;
}