:root{
    --background-color: #4d6590;
    --text-color: rgb(232, 231, 231);
    --primary-color: #4d6590;
}
body{
    color: var(--text-color);
    display: block;
    justify-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#menuContainer{
    display: grid;
    justify-items: center;
    margin:10px;
}
.container{
    margin:6px;
    font-size: 20px;
}
button{
    color: var(--text-color);
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
}